:root { --background-color: #000000; --font-color: rgb(255, 255, 255); --border-color: rgba(111, 111, 111, 0.272); --accent-color1: rgba(100, 100, 100); --accent-color2: rgb(199, 199, 199);}  
@font-face {  font-family: 'RobotoSlab';  src: url('./font/RobotoSlab-VariableFont_wght.ttf') format('truetype');  font-weight: 400;}
html,body {  height: 100%;  margin: 0; background-color: var(--background-color); font-family: 'RobotoSlab'; }
button{  color: var(--font-color);  background-color: var(--background-color);  border: none;  cursor: pointer;  font-family: 'RobotoSlab';  font-size: 1em;}
iframe {  top: 0;   left: 0; width: 100%;   height: 100%;   border: none;  border-left: 1px solid var(--border-color);}
img{  width: 100px; border: 1px solid rgba(34, 34, 34, 0.319); border-radius: 0px; cursor: pointer;}
span{color: var(--accent-color1); font-size: 1em;}
a:visited{color: rgb(255,255,255); }



  iframe::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  

  * {
    scrollbar-width: thin;
    scrollbar-color: #f80000 #000000;
  }

.textInfo{color: var(--font-color);}
.nestedTextInfo{color: var(--accent-color2);}
#groupDescription iframe {     height: 500px;      overflow: hidden;     max-width: 100%; }
#groupDescription{  color: var(--font-color); margin-right: 30px; margin-left: 30px;}
#content {  width: 60%;  height:100%;  float: left;  overflow: hidden;}
#header { height: 8%; color: var(--font-color); z-index: 1; border: none; border-bottom: 1px solid var(--border-color); overflow: hidden}
#three { height: 90%;  width: 100%;    overflow: hidden;  z-index: -1;  }
#info {  width: 40%;  height: 100%;  float: left;  color: var(--font-color);}
#loading { max-width: 10px; border: none;}
#screen{ margin-left: -10px; margin-top: 10px; color: rgb(255, 255, 255);  position: absolute; width: 60%;   text-align: right; font-size: 12px; pointer-events: none}




@media (max-width: 1000px) { #content{width: 100%;}#info{display: none;}#screen{width: 100%; display: none;}}